.contacts {
  font-family: Arial, Helvetica, sans-serif;
  color: #bbbcbd;
}

.heading {
  color: #51abde;
}

table td {
  text-transform: capitalize;
  color: #b6b6b6;
}

table {
  background: white;
  border: 2px solid #c3c3c3;
  border-radius: 5px;
  width: 50%;
  border-spacing: 0px;
  border-collapse: separate;
}

.collapse-link {
  color: #bbbcbd;
  text-decoration: none;
}

.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948;
  /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
  /* red */
}
